:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Add `debug` class to show red lines marking A4 portrait pages */
body.debug {
  outline: 1px solid red;
  width: 21cm;
  background-image: linear-gradient(to bottom, transparent 0 calc(100% - 1px), red 0 100%);
  background-size: 100% 29.7cm;
}

#app {
  margin: 0 auto;
  padding: 2rem;
}
